* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: wheat;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.wrapper {
    margin: 0 20%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h4 {
    font-size: 1rem;
    color: white
}

h3 {
    font-size: 1rem;
    color: white;
    line-height: 2.5rem;
    margin: 2rem 0;

}


a {
    color: white;
}

.splide__pagination {
    top: 215px !important;
    bottom: 0.5em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1;
}

.splide__pagination__page {
    margin-top: 30px !important;
    background: white !important;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 13px !important;
    padding: 0;
    transition: transform .2s linear;
    width: 13px !important;
}

.splide__pagination__page.is-active {
    background: #4d44d9 !important;
    opacity: 1 !important;
}

.video {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    object-fit: cover;

}

.video_intro {
    margin: 0 auto;
    opacity: 0.9;
    position: absolute
}

.splide__arrow {
    margin: 0 -50px 0 -50px !important;
}

.splide__arrow--prev {
    margin: 0 -50px 0 -50px !important;
}